@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: var(--tg-theme-text-color);
}

body {
  min-height: 100dvh;
  background: var(--tg-theme-bg-color);
}

.btn {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  @apply py-2 px-4 rounded-b;
}